flask_backend/model_files/variables/variables.data-00000-of-00001
flask_backend/model_files/variables/variables.index
flask_backend/model_files/fingerprint.pb
flask_backend/model_files/keras_metadata.pb
flask_backend/model_files/saved_model.pb
